body {

    &.ovh {
        overflow: hidden;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
    }

    h1 {
        // text-transform: uppercase;

        @include breakpoint(extra-small) {}
    }

    h2 {}

    h3 {}

    h4 {}

    h5 {}

    h6 {}

    img {
        max-width: 100%;
        display: inline-block;
    }

    a {
        display: inline-block;
        text-decoration: none;
        outline: none !important;

        &::-moz-focus-inner {
            border: 0 !important;
        }

        &:hover, &:focus {
            text-decoration: none;
            color: #000;
        }
    }

    .container{
        width: 100%;
        max-width: 1030px;
        padding: 0 15px;
        margin: 0 auto;
    }
}