/*COLORS*/
$main_color: #4999af;
$main_color_hover: #1b7f9b;
$second_color: #668333;
$components_color: #f1715e;

$text_color: #5f5f5f;
$header_color: #727372;
$main_gray_color: #525252;


/*FONTS*/
$font_light: 'ProximaNovaLight', sans-serif;
$font_regular: 'ProximaNovaRegular', sans-serif;
$font_semibold: 'ProximaNovaSemibold', sans-serif;
$font_bold: 'ProximaNovaBold', sans-serif;

