<!-- Begin banner -->
<section class="wrap-banner">
	<div class="prev"><img src="img/bannerarrow.png" alt="prev"></div>
	<div class="next"><img src="img/bannerarrow.png" alt="next"></div>
	<div class="banner">
		<div class="banner-card">
			<img src="img/banner.jpg" alt="img">
			<div class="container">
				<div class="banner-desc">
					<p><strong>Welcome to SevenOaks website </strong>which is run by the friends of SevenOaks.</p>
				</div>
			</div>
		</div>
		<div class="banner-card">
			<img src="img/banner.jpg" alt="img">
			<div class="container">
				<div class="banner-desc">
					<p><strong>Welcome to SevenOaks website </strong>which is run by the friends of SevenOaks.</p>
				</div>
			</div>
		</div>
		<div class="banner-card">
			<img src="img/banner.jpg" alt="img">
			<div class="container">
				<div class="banner-desc">
					<p><strong>Welcome to SevenOaks website </strong>which is run by the friends of SevenOaks.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End banner -->