<section class="content">
	<div class="container">
		<ul class="news-list on-scroll" data-delay=">li" data-offset=".9">
			<li>
				<figure class="news-block">
					<img src="img/news1.jpg" alt="new">
					<figcaption>
						<h2>STORIES</h2>
						<a href="#" class="new-desc">Read stories of Seven Oaks <img src="img/news-arrow.png" alt="img"></a>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="news-block">
					<img src="img/news2.jpg" alt="new">
					<figcaption>
						<h2>GIVE ONLINE</h2>
						<a href="#" class="new-desc">Quick & easy online giving <img src="img/news-arrow.png" alt="img"></a>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="news-block">
					<img src="img/news3.jpg" alt="new">
					<figcaption>
						<h2>PRAYER</h2>
						<a href="#" class="new-desc">Submit your prayer request <img src="img/news-arrow.png" alt="img"></a>
					</figcaption>
				</figure>
			</li>
		</ul>
		<div class="main-content">
			<div class="events on-scroll" data-delay=".event-block" data-offset=".7">
				<h2>UPCOMING EVENTS</h2>
				<div class="event-block">
					<div class="date">
						<time class="day" datetime="2019-01-02">20 <br> <span>july</span></time>
						<div class="event-desc">
							<a href="#">FAMILY SUNDAY</a>
							<time datetime="2019-01-02"><strong>Sunday</strong> | 9:30am</time>
						</div>
					</div>
					<a href="#" class="event-link">MORE</a>
				</div>
				<div class="event-block">
					<div class="date">
						<time class="day" datetime="2019-01-02">20 <br> <span>july</span></time>
						<div class="event-desc">
							<a href="#">FAMILY SUNDAY</a>
							<time datetime="2019-01-02"><strong>Sunday</strong> | 9:30am</time>
						</div>
					</div>
					<a href="#" class="event-link">MORE</a>
				</div>
				<div class="event-block">
					<div class="date">
						<time class="day" datetime="2019-01-02">20 <br> <span>july</span></time>
						<div class="event-desc">
							<a href="#">FAMILY SUNDAY</a>
							<time datetime="2019-01-02"><strong>Sunday</strong> | 9:30am</time>
						</div>
					</div>
					<a href="#" class="event-link">MORE</a>
				</div>
			</div>
			<article class="article on-scroll" data-offset=".7">
				<h2>SEVENOAKS</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<a href="#">READ MORE &gt;&gt;</a>
			</article>
		</div>
	</div>
</section>