<!-- Begin footer -->
<footer>
	<div class="container">
		<div class="footer-top">
			<div class="footer-block">
				<h3>SIGNUP TO OUR NEWSLETTER</h3>
				<a href="#" id="subscribe">SUBSCRIBE</a>
			</div>
			<div class="footer-block">
				<h3>SERVICE TIMES</h3>
				<h4>Sundays at 9:30 &amp; 11:30 AM</h4>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="footer-block">
				<h3>CONNECT WITH US</h3>
				<div class="social">
					<a href="#"><img src="img/facebook.png" alt="facebook"></a>
					<a href="#"><img src="img/twitter.png" alt="twitter"></a>
					<a href="#"><img src="img/youtube.png" alt="youtube"></a>
					<a href="#"><img src="img/paypal.png" alt="paypal"></a>
					<a href="#"><img src="img/email.png" alt="email"></a>
				</div>
			</div>
		</div>
		<p class="rights">&copy; Copyright 2017 SevenOaks. All rights reserved.  Privacy Policy  |  Share This</p>
	</div>
</footer>
<!-- End footer -->