<!-- Begin HEADER -->
<header class="container">
	<div class="responsive-nav">
	    <div class="hamburger"></div>
	</div>
	<div class="logo">
		<img src="img/logo.png" alt="logo">
		<div class="logo-text">
			<h3>Seven<span>Oaks</span></h3>
			<p>centre</p>
		</div>
	</div>
	<div class="header-nav">
		<div class="search-block">
			<ul>
				<li><a href="#">Calendar</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
			<img src="img/search-icon.png" alt="search" class="search-btn">
			<form action="#" class="search-form">
				<div>
					<input type="search" placeholder="input">
					<button><img src="img/search-icon.png" alt="search"></button>
				</div>
				<div class="close-search">X</div>
			</form>
		</div>
		<nav id="navigation">
			<ul>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">MEDIA</a></li>
				<li><a href="#">EVENTS</a></li>
				<li><a href="#">SHOP</a></li>
				<li><a href="#">GIVE</a></li>
			</ul>
		</nav>
	</div>
</header>
<!-- End HEADER -->