<head>
	<title>SevenOaks</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<!--====>> Favicon icon CSS <<====-->
	<link href="img/favicon/favicon.ico" type="image/x-icon" rel="shortcut icon" >

	<!--====>> Bootstrap V3 CSS <<====-->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	
	<!--====>> Slick Slider CSS <<====-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" type="text/css" rel="stylesheet" />

	<!--====>> Index CSS <<====-->
	<link href="css/index.css" type="text/css" rel="stylesheet" />
</head>