<div class="popup">
	<h2>Subscribe to our newsletters</h2>
	<p>Please enter you email address to receive all news from our site.</p>
	<form action="#">
		<input type="email" name="email" required placeholder="example@gmail.com ">
		<p>* Don’t worry you’ll not be spammed</p>
		<button>SUBSCRIBE</button>
	</form>
	<div class="close"><img src="img/close-icon.png" alt="close"></div>
</div>
<div class="popup-bg"></div>