/*===> Begin slick button <===*/
.prev,
.next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 132;
	width: 50px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0, .5);
	cursor: pointer;
	&:hover{
		background: rgba(0,0,0, .7);
	}
	&:active{
		background: rgba(0,0,0, .85);
	}

	img {
		height: 38px;
	}
}
.prev{
	left: 0;
}
.next{
	right: 0;
	transform: translateY(-50%) rotate(180deg);
}

/*===> Ens slick button <===*/