/*===> Begin banner <===*/
.wrap-banner{
	width: 100%;
	position: relative;

	.banner{
		width: 100%;

		.slick-slide>div {
			display: block !important;

			img {
				display: block !important;
			}

			>div {
				display: block !important;
			}
		}

		.animate-slide {
			.banner-card {
				.banner-desc {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}

		.banner-card{
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 100%;

			>img {
				position: relative;
				z-index: 1;
				left: 50%;
				transform: translateX(-50%);
				min-height: 100%;
				max-width: none;
				min-width: 100%;
			}

			.container{
				position: absolute;
				top: 0;
				left: 50%;
				z-index: 10;
				height: 100%;
				min-height: 520px;
				height: 100%;
				transform: translateX(-50%);
			}
			.banner-desc{
				position: absolute;
				bottom: 39px;
				max-width: 460px;
				padding: 17px 20px;
				background: rgba(27, 127, 155, .8);
				transition: all .3s;
				transform: translateY(30px);
				opacity: 0;
				p{
					font-family: $font_light;
					color: #fff;
					font-size: 34px;
					line-height: 41px;
					strong{
						font-family: $font_bold;
					}
				}
			}
		}
	}

	@media (max-width: 650px){
		.banner .banner-card .container{
			min-height: 300px;
		}
		.wrap-banner .prev, .wrap-banner .next{
			width: 25px;
			height: 75px;
		}
		.banner .banner-card .banner-desc p{
			font-size: 20px;
			line-height: 29px;
			min-width: 230px;
			box-sizing: border-box;
			display: block;
		}
		.banner .banner-card .banner-desc{
			bottom: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
/*===> End banner <===*/