/*===> Begin content <===*/
.content{
	background: #f3eeea;
	padding-top: 29px;
	padding-bottom: 30px;

	.main-content{
		display: flex;
	}
	.events{
		width: 50%;
		padding-right: 20px;

		&.on-scroll {
			.event-block, h2 {
				transition: all .3s;
				transform: translateY(20px);
				opacity: 0;
			}

			&.show-scroll {
				.event-block, h2 {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}

		h2{
			font-family: $font_regular;
			font-size: 22px;
			color: $main_color;
			padding-bottom: 22px;
		}
		.event-block{
			border-top: 1px solid  #d2cdc9;
			padding-top: 21px;
			margin-bottom: 17px;
			display: flex;
			justify-content: space-between;
		}
		.date{
			display: flex;
		}
		.day{
			font-family: $font_regular;
			font-size: 32px;
			line-height: 17px;
			color: $second_color;
			margin-right: 10px;
			span{
				font-size: 14px;
				text-transform: uppercase;
				text-indent: 3px;
				display: inline-block;
			}
		}
		.event-desc{
			a{
				font-family: $font_regular;
				font-size: 17px;
				color: $components_color;
			}

			time{
				display: block;
				font-family: $font_regular;
				font-size: 13px;
				color: $text_color;
				padding-top: 5px;
				strong{
					font-family: $font_semibold;
				}
			}
		}
		.event-link{
			display: block;
			background: #019ab2;
			font-family: $font_regular;
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			height: 33px;
			width: 90px;
			text-align: center;
			line-height: 33px;
			border-radius: 6px;
			&:hover{
				background: $main_color_hover;
			}
			&:active{
				background: #3b8ba1;
				box-shadow: inset 0px 16px 10px -16px rgba(0,0,0,0.75);
			}
		}
	}
	.article{
		width: 50%;
		padding-left: 20px;

		&.on-scroll {
			transition: all .3s;
			transform: translateY(20px);
			opacity: 0;

			&.show-scroll {
				transform: translateY(0);
				opacity: 1;
			}
		}

		h2{
			font-family: $font_regular;
			font-size: 22px;
			color: $main_color;
			padding-bottom: 22px;
		}
		p{
			color: $text_color;
			font-family: $font_regular;
			padding-bottom: 15px;
			font-size: 14px;
			line-height: 17px;
		}
		a{
			color: $components_color;
			text-transform: uppercase;
			font-family: $font_semibold;
		}
	}



	@media (max-width: 1030px){
		.content{
			padding: 20px 15px;
		}
	}
	@media (max-width: 650px){
		.main-content{
			flex-direction: column;
			align-items: center;
		}
		.events{
			width: 100%;
			padding-right: 0;
			margin-top: 25px;
			h2{
				text-align: center;
			}
		}
		.article{
			width: 100%;
			padding-left: 0;
			margin-top: 25px;
			h2{
				text-align: center;
			}
		}
	}
	@media (max-width: 490px){
		.article p{
			text-align: justify;
		}
	}
	
}
/*===> End content <===*/