/*===> Begin footer <===*/
footer{
	background: $main_gray_color;
	padding-top: 30px;
	padding-bottom: 40px;

	.footer-top{
		display: flex;
		justify-content: flex-start;
		padding-bottom: 40px;
		border-bottom: 1px solid #6b6b6a;
	}
	.footer-block{
		&:first-child{
			margin-right: 90px;
		}
		&:nth-child(2){
			margin-right: 140px;
		}
		h3{
			font-family: $font_regular;
			font-size: 20px;
			color: #f3eeea;
		}
		#subscribe{
			display: block;
			text-align: center;
			padding: 10px 0;
			font-family: $font_regular;
			font-size: 18px;
			color: #f3eeea;
			background: #019ab2;
			border-radius: 6px;
			margin-top: 25px;
			&:hover{
				background: $main_color_hover;
			}
			&:active{
				background: #3b8ba1;
				box-shadow: inset 0px 16px 10px -16px rgba(0,0,0,0.75);
			}
		}
		h4{
			font-family: $font_semibold;
			font-size: 20px;
			color: #f3eeea;
			padding-top: 30px;
		}
		p{
			font-family: $font_regular;
			font-size: 12px;
			color: #b3b3b3;
			padding-top: 5px;
		}
		.social{
			margin-top: 33px;
			a{
				margin-right: 5px;
				&:hover{
					opacity: .9;
				}

				img {
					height: 32px;
				}
			}
		}
	}
	.rights{
		padding-top: 19px;
		color: #b3b3b3;
		font-size: 12px;
		font-family: $font_regular;
	}

	@media (max-width: 1030px){
		padding: 30px 15px;

		.footer-top{
			justify-content: space-around;
		}
		.footer-block:first-child{
			margin-right: 0;
		}
		.footer-block:nth-child(2){
			margin-right: 0;
		}
		.footer-block{
			h3{
				font-size: 18px;
			}
			h4{
				font-size: 18px;
			}
		}
	}
	@media (max-width: 768px){
		.footer-top{
			flex-direction: column;
			align-items: center;
			padding-bottom: 0;
		}
		.footer-block{
			margin-bottom: 25px;
		}
		.footer-block h3{
			text-align: center;
		}
		.footer-block h4{
			padding-top: 15px;
		}
		.footer-block .social{
			margin-top: 15px;
		}
		.rights{
			text-align: center;
		}
	}

	@media (max-width: 1030px){
		padding: 30px 15px;

		.footer-top{
			justify-content: space-around;
		}
		.footer-block:first-child{
			margin-right: 0;
		}
		.footer-block:nth-child(2){
			margin-right: 0;
		}
		.footer-block{
			h3{
				font-size: 18px;
			}
			h4{
				font-size: 18px;
			}
		}
	}
	@media (max-width: 768px){
		.footer-top{
			flex-direction: column;
			align-items: center;
			padding-bottom: 0;
		}
		.footer-block{
			margin-bottom: 25px;
		}
		.footer-block h3{
			text-align: center;
		}
		.footer-block h4{
			padding-top: 15px;
		}
		.footer-block .social{
			margin-top: 15px;
		}
		.rights{
			text-align: center;
		}
	}
}
/*===> End footer <===*/