/*===> Begin HEADER <===*/
header {
	position: absolute;
	left: 50%;
	top: 0;
	transform:translateX(-50%);
	z-index: 10;

	&.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1000px;
		padding: 20px 15px;
		background: #fff;
	}

	.logo {
		display: flex;
		align-items: flex-end;
		text-align: center;
		img {
			height: 59px;
			margin-right: 9px;
		}

		h3 {
			font-size: 38px;
			font-family: $font_bold;
			line-height: 24px;
			color: $header_color;
			span {
				font-family: $font_light;
			}
		}

		p {
			font-family: $font_regular;
			color: $main_color_hover;
			font-size: 20px;
			line-height: 20px;
			letter-spacing: 6px;
			text-transform: uppercase;
		}
	}

	.header-nav {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.search-block {
		position: relative;
		background: rgba(27, 127, 155, .6);
		display: flex;
		align-items: center;
		justify-content: space-between;
		transform: translateX(28px);
		padding: 0 20px 0 14px;
		width: 310px;
		z-index: 2;
		&:after {
			position: absolute;
			content: '';
			background: rgba(27, 127, 155, .6);
			width: 14px;
			height: 28px;
			transform: rotate(-38deg) skew(-38deg);
			z-index: -1;
			right: 0;
			top: 8px;
		}

		ul {
			display: flex;
			align-items: center;
			li {
				margin-right: 23px;
				position: relative;
				&:after {
					position: absolute;
					content: '';
					width: 1px;
					height: 10px;
					background: #fff;
					right: -11px;
					top: 50%;
					transform: translateY(-50%);
				}

				&:last-child:after {
					display: none;
				}

				a {
					color: #fff;
					font-family: $font_regular;
					font-size: 13px;
					padding: 11px 0;
					display: block;
				}
			}
		}
	}

	.search-btn {
		cursor: pointer;
		height: 17px;
	}

	.search-form {
		position: absolute;
		left: 0;
		top: 0;
		background: $main_color;
		width: 100%;
		height: 100%;
		display: none;
		align-items: center;
		justify-content: space-around;

		>div {
			display: flex;
			align-items: center;
		}

		img {
			height: 17px;
		}

		input {
			border: none;
			padding: 5px;
			font-family: $font_regular;
			width: 200px;
		}

		button {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}

		.close-search {
			font-family: Arial, sans-serif;
			color: #fff;
			font-size: 20px;
			cursor: pointer;
		}
	}

	nav {
		padding-top: 25px;
		padding-bottom: 5px;

		ul {
			display: flex;

			li {
				margin-right: 59px;

				&:last-child {
					margin-right: 0;
				}

				a {
					font-family: $font_regular;
					font-size: 15px;
					color: $second_color;
					transition: all .3s;

					&:hover {
						color: $main_color;
					}
				}
			}
		}
	}

	@media (max-width: 1030px){
		/*HEADER*/
			.search-block{
				transform: translateX(0);
				&:after{
					display: none;
				}
			}
	}
	@media (max-width: 768px){
		&.container{
			padding: 10px 15px 10px 50px;
		}
		nav{
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100vh;
			overflow: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 15px;
			background: #fff;
			z-index: 100;
			// max-width: 400px;
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
			transition: all .5s;
			opacity: 0;
			visibility: hidden;
			&.show-menu{
				opacity: 1;
				visibility: visible;
				left: 0;
			}
			ul{
				height: 100%;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				min-height: 200px;
				li{
					margin-right: 0;
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}

		.responsive-nav{
			display: block;
			cursor: pointer;
			position: absolute;
			height: 34px;
			width: 35px;
			left: 10px;
			top: 15px;
			z-index: 110;
			transition: all .5s;
		}
		.responsive-nav .hamburger {
			width: 35px;
			height: 4px;
			position: absolute;
			top: 14px;
			background-color: $main_color;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			transition: all .6s;
		}
		.responsive-nav .hamburger:before, .responsive-nav .hamburger:after {
			content: "";
			position: absolute;
			width: 35px;
			height: 4px;
			background-color: $main_color;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			transition: all .5s;
		}
		.responsive-nav .hamburger:before {
			top: -10px;
		}
		.responsive-nav .hamburger:after {
			top: 10px;
		}
		.active-btn .hamburger {
			background-color: transparent;
			box-shadow: 0 2px 5px transparent;
		}
		.active-btn .hamburger:before {
			top: 0;
			-webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			        transform: rotate(45deg);
		}
		.active-btn .hamburger:after {
			top: 0;
			-webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}	
	
	}
	@media (max-width: 650px){
		&.container{
			flex-direction: column;
			padding: 10px 15px;
			position: relative;
			left: 0;
			top: 0;
			transform: translate(0);
		}
		.header-nav{
			margin-top: 15px;
		}
		.search-block{
			width: 290px;
		}
	}
	@media (max-width: 380px){
		.logo{
			padding-left: 35px;
		}
	}
}

.responsive-nav{
	display: none;
}

/*===> End HEADER <===*/
	