/*===> Begin news list <===*/
.news-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;

	&.on-scroll {
		li {
			transition: all .3s;
			transform: translateY(25px);
			opacity: 0;
		}

		&.show-scroll {
			li {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}

	li {
		width: 33.33%;
		padding-left: 10px;
		padding-right: 10px;


		&:nth-child(3n+1) {
			.news-block {
				.new-desc{
					background: rgba(27,127,155, .8);
					&:hover{
						background: rgba(27,127,155, .9);
						img{
							right: 5px;
						}
					}
				}
			}
		}

		&:nth-child(3n+2) {
			.news-block .new-desc{
				background: rgba(102,131,51, .8);
				&:hover{
					background: rgba(102,131,51, .9);
					img{
						right: 5px;
					}
				}
			}
		}

		&:nth-child(3n+3) {
			.news-block .new-desc{
				background: rgba(241,113,94, .8);
				&:hover{
					background: rgba(241,113,94, .9);
					img{
						right: 5px;
					}
				}
			}
		}
	}

	@media (max-width: 1030px) {
		justify-content: space-around;

		li {
			min-width: 320px;
		}
	}

	@media (max-width: 380px) {
		justify-content: space-around;

		li {
			min-width: 310px;
		}
	}
}
/*===> Ens news list <===*/