/*===> Begin news block <===*/
.news-block{
	position: relative;
	// width: 320px;
	margin-bottom: 28px;

	>img {
		max-width: 100%;
	}

	h2{
		position: absolute;
		font-family: $font_bold;
		font-size: 45px;
		color: #fff;
		top: 95px;
		right: 18px;
		text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
	}
	.new-desc{
		position: absolute;
		bottom: 3px;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 47px;
		padding-left: 20px;
		padding-right: 50px;
		font-family: $font_regular;
		font-size: 16px;
		line-height: 47px;
		color: #fff;
		transition: all .3s;
		img{
			position: absolute;
			right: 12px;
			top: 10px;
			transition: all .3s;
			height: 27px;
		}
	}

	@media (max-width: 380px){
		width: 290px;
		>img{
			width: 290px;
		}

		.new-desc{
			img {
				width: auto;
			}
		}

		h2{
			font-size: 41px;
			top: 82px;
		}
	}
}
/*===> Ens news block <===*/
