/*===> Begin popup <===*/
.popup{
	max-width: 460px;
	width: 100%;
	padding: 35px 35px 15px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: all .5s;
	background: #fff;
	z-index: -1;
	max-height: 100vh;
	overflow-y: auto;

	&.show-popup{
		transform: translate(-50%, -50%) scale(1);
		z-index: 1000;
	}

	h2{
		font-family: $font_regular;
		font-size: 24px;
		color: $main_color;
		text-transform: uppercase;
		padding-bottom: 30px;
	}
	p{
		font-family: $font_regular;
		font-size: 16px;
		color: #a9a9a9;
	}
	form{
		padding-top: 15px;
		margin-bottom: 20px;
		p{
			padding-top: 15px;
		}
		input{
			width: 100%;
			padding: 15px;
			font-size: 22px;
			color: #999;
			border: none;
			border-radius: 5px;
			background: #f5f5f5;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
		}
		button{
			margin: 30px auto 0;
			background: $main_color;
			border-radius: 5px;
			color: #f3eeea;
			text-align: center;
			border: none;
			width: 240px;
			height: 50px;
			line-height: 50px;
			font-family: $font_regular;
			font-size: 18px;
			display: block;
			cursor: pointer;
			&:hover{
				background: $main_color_hover;
			}
			&:active{
				background: #3b8ba1;
				box-shadow: inset 0px 16px 10px -16px rgba(0,0,0,0.75);
			}
		}
	}

	.close{
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
}
.popup-bg{
	background: #000;
	opacity: .65;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	z-index: -1;

	&.show-popup{
		transform: scale(1);
		z-index: 101;
	}
}
/*===> End popup <===*/